<li id="mp-<%= mp.id %>">
	<%= link_to gravatar_for(mp.user), mp.user %>
	<span class="user"><%= link_to mp.user.name, mp.user %></span>
	<span class="content"><%= mp.content %>
		<%= image_tag mp.picture.url if mp.picture? %>
	</span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(mp.created_at) %> ago.
		<% if current_user?(mp.user) %>
      		<%= link_to "delete", mp, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
	</span>
</li>		
