<%= form_for(@user) do |f| %>
		<%= render "shared/error_messages" %>
		<%= f.label :name %>
		<%= f.text_field :name, class: "form_control" %>

		<%= f.label :email %>
		<%= f.email_field :email, class: "form_control" %>

		<%= f.label :password %>
		<%= f.password_field :password, class: "form_control" %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, class: "form_control" %>

		<%= f.submit yield(:button_text), class: "btn btn-primary"%>

<% end %>