<% provide(:title,"All users") %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |usr| %>

	<li>
		<%= gravatar_for usr%>
		<%= link_to usr.name, user_path(id: usr.id) %>
		<% if current_user.admin? && !current_user?(usr) %>
   		 | <%= link_to "delete", usr, method: :delete,
                                  data: { confirm: "You sure?" } %>
		   <% end %>
	</li>
	<% end %>
</ul>		

<%= will_paginate @users %>
<script>
	var options = {
	    alignment:"center",//居中显示
	    currentPage: pageIndex,//当前页数
	    totalPages: total,//总页数 注意不是总条数
	    itemTexts:Next-->下一页
	    pageUrl: function(type, page, current){
	            if (page==current) {
	                return "javascript:void(0)";
	            } else {
	                return "/Articles?pageSize=15&pageIndex="+page;
	            }
	        }
	}
	$("#true").bootstrapPaginator(options);
</script>