<% provide(:title, "Password Reset") %>
<h1>Password Reset</h1>


<div class="row">
	<div class="col-md-4 col-md-offset-5">
	<%= form_for(@user, url: edit_pwd_reset_path(params[:id])) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

    <%= hidden_field_tag :email, @user.email %>

	<%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "Submit",class: "btn btn-primary" %>
    <% end %>
    </div>
 </div>